/*
  Global CSS file
*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

body {
	background-color: rgb(41, 97, 31); 
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	width: 100%;
	height: 100%;
	min-height: 760px;
}

.body {
  padding: 2em;
  background-color: rgb(226, 226, 226);
}

.title {
  font-size: 26pt;
  color: green;
  margin-bottom: 1em;
}

.h4 {
  color: green;
  font-size: 1rem;
}

.subtitle {
  color: green;
  font-size: 20pt;
}

.buttons {
  background-color: rgb(76, 157, 38) !important;
  border: solid rgb(76, 157, 38) 1px !important;
}

.input-group .rbt {
	width: 230px !important;
}

.flex1 {
	flex: 1;
}

.imgContainer {
  text-align: center;
  background: rgba(0,0,0,0.3);
}

.imgContainer img {
  max-width:100%;
  max-height:200px;
}