.footer{
	width: 100%;
	position: fixed;
  	text-align: center;
  	margin: 0 auto;
  	background-size: cover;
  	background-color: rgb(76,157,38);
  	bottom:0;
  	padding: 1em;
}

.footer a{
	font-weight: bold;
	color: black;
	text-decoration: none;
}

