.footer{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background-color: rgb(41, 97, 31);
	padding: 1em;
    left: 0;
    right: 0;
}

.footer a{
	font-weight: bold;
	color: rgb(76, 157, 38);
	text-decoration: none;
}

