.header {
  background-size: cover;
  background-color: rgb(85,85,85);
  height:70px;
  padding-top: 10px;
  border-bottom:3px solid white;
}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 64px 16px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  float: left;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.active{
  background-color: rgb(76,157,38);
  font-weight: bold;
}

.burgerImage
{
    width:50px;
    height:5px;
    background-color:rgb(76,157,38);
    border-radius:5px;
    position:absolute;
    margin: 1em;
    cursor: pointer;
}

.burgerImage:after, .burgerImage:before
{
    content: '';
    width: 100%;
    height:5px;
    background-color:rgb(76,157,38);
    position:absolute;
    border-radius:5px;
    cursor: pointer;
}

.burgerImage:after
{
    top:10px;
    cursor: pointer;
}

.burgerImage:before
{
    top:20px;
    cursor: pointer;
}

.h1{
  color: white;
}

.h1_span{
  color:rgb(76,157,38);
}

.siteLogo{
  width: 100%;
  text-align: center;
}

.ul{
  position: absolute;
  background-color: rgb(85,85,85);
  width: 300px;
  height: 300px;
  top: 70px;
  list-style: none;
  z-index: 9999;
}

.ul li{
  padding:1em;
  color: white;
}

.ul li a{
  color: white;
  text-decoration: none;
}

.angle1{
  background-image: url("modules/Layout/components/Header/GreenArrow.png");
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}
