.title{
    font-size:26pt;
    color: green;
    margin-bottom: 1em;
}

.body{
	padding: 2em;
	padding-top: 3em;
	background-color: rgb(226, 226, 226);

}

.phoneNum{
    font-size:20pt;
    color: green;
}

p{
	padding: 0.5em;
}

form{
	padding: 0.5em;
}

.labels{
	display: block;
}

.labels input{
	width: 10em;
	border:1px solid black;
}

.labelText{
	width: 10em;
	display: inline-block;
}