/**
 * Project       - ShaCar
 * Team          - Group 3 Carshare
 * Last Modified - 2018/05/25
 * Authors
 *               - Paul Crow
 *               - Inga Pflaumer
 *               - Tianqi Chen
 *               - Matthew Ryan
 */
.wideBtn {
  width: 100%;
  text-align: right !important;
   border-radius: 0 !important; 
}

.form {
  padding: none !important;
}

.imgContainer {
  text-align: center;
  background: rgba(0,0,0,0.3);
}

.imgContainer img {
  max-width:100%;
  max-height:200px;
}

.label {
  padding: none;
  color: grey;
}