/**
 * Project       - ShaCar
 * Team          - Group 3 Carshare
 * Last Modified - 2018/05/25
 * Authors
 *               - Paul Crow
 *               - Tianqi Chen
 */
.linkCol {
    text-align:center;
    color: white;
}

.linkCol a {
    border: 1px solid white;
    display: block;
    padding: 10px;    
    position: relative;
    margin-bottom: 15px;
}

.linkCol a:link,
.linkCol a:visited,
.linkCol a:hover,
.linkCol a:active {
    text-decoration: none;
    color: white;
}

.linkCol a:hover {
    background: rgba(0,0,0,0.3);
}

.linkCol a img {
    height: 51px;
    display: block;
    position: relative;
    margin: 0 auto 10px auto;
}

.linkTxt {
    position: relative;
    font-size: 18px;
    margin: 0 auto;
}

.noBg {
    background: transparent;
}

.noBgTitle {
    color: white;
}