/**
 * Project       - ShaCar
 * Team          - Group 3 Carshare
 * Last Modified - 2018/05/25
 * Authors
 *               - Inga Pflaumer
 */

/* override bootstrap button color */
.buttons {
  background-color: rgb(76, 157, 38);
}

.mapOverall{
	width: 100%;
	height: 100%;
}
