.title{
    font-size:26pt;
    color: green;
    margin-bottom: 1em;
}

.subtitle{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
 }
 
.questiontitle{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0.3em;
}

.body{
	padding: 2em;
}

.innerLi{
	margin-left: 3em;
	margin-bottom: 0.5em;
}

p{
	padding: 0.5em;
}