/**
 * Project       - ShaCar
 * Team          - Group 3 Carshare
 * Last Modified - 2018/05/25
 * Authors
 *               - Paul Crow
 *               - Inga Pflaumer
 *               - Tianqi Chen
 *               - Matthew Ryan
 */
.title{
    font-size:26pt;
    color: green;
    margin-bottom: 1em;
}

.subtitle{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
 }
 
.body{
	padding: 2em;
	background-color: rgb(226, 226, 226);
	min-height: 70vh;
}

.innerP{
	margin-left: 3em;
	margin-bottom: 0.5em;
}

p{
	padding: 0.5em;
}