.tableContainer{
	width: 100%;
}

.weekBlock{
	width: 100%;
	text-align: center;
}

.buttonL{
	float: left;
}

.buttonR{
	float: right;
}

.buttonAvail
{
	width: 25px;
	height: 25px;
	font-size: 1rem;
}