/**
 * Project       - ShaCar
 * Team          - Group 3 Carshare
 * Last Modified - 2018/05/25
 * Authors
 *               - Paul Crow
 *               - Inga Pflaumer
 *               - Tianqi Chen
 */
.tableContainer{
	width: 100%;
}

.weekBlock{
	width: 100%;
	text-align: center;
}

.buttonL{
	float: left;
}

.buttonR{
	float: right;
}

.buttonAvail
{
	width: 25px;
	height: 25px;
	font-size: 1rem;
}