.bookingsCurrentB {
	background-color: green;
	width: 100%;
	color: white;
}

.bookingsPastB {
	background-color: grey;
	width: 100%;
	color: white;
}

.bookingsFutureB {
	background-color: black;
	width: 100%;
	color: white;
}