/**
 * Project       - ShaCar
 * Team          - Group 3 Carshare
 * Last Modified - 2018/05/25
 * Authors
 *               - Paul Crow
 */
.statBlock {
  border: 1px solid white;
  color: white;
  padding: 10px;
  height: 100%;
  position: relative;
  pointer-events: none;
}

.statBlockContainer {
  margin-bottom: 10px;
}


.link {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:link,
.link:visited,
.link:hover,
.link:active {
  text-decoration: none;
}

.link:hover {
  background: rgba(0,0,0,0.3);
}

.link img {
  height: 51px;
  display: block;
  position: relative;
}

.linkTxt {
  position: relative;
  font-size: 18px;
  margin: 0 auto;
}