/**
 * Project       - ShaCar
 * Team          - Group 3 Carshare
 * Last Modified - 2018/05/25
 * Authors
 *               - Inga Pflaumer
 *               - Matthew Ryan
 */
.dropdown{
	background-color: rgb(76, 157, 38) !important;
  	border: solid rgb(76, 157, 38) 1px !important;
  	border-radius: 0 !important; 
}