/**
 * Project       - ShaCar
 * Team          - Group 3 Carshare
 * Last Modified - 2018/05/25
 * Authors
 *               - Paul Crow
 */
.mapStyle {
	position: relative;
	height: 100%;
	min-height: 250px;
};
