/* Locations.css */

.container{

}
.title {
    font-size:26pt;
    color: rgb(76, 157, 38);
}

.subtitle {
    font-size:10pt;
    margin-bottom: 1em;
}

/* override bootstrap button color */
.buttons {
  background-color: rgb(76, 157, 38) !important;
  border: solid rgb(76, 157, 38) 1px !important;
  display: inline-block;
  margin-bottom: 1em !important;
}

.input{
	display: inline-block;
}

.dropdown{
	background-color: rgb(76, 157, 38) !important;
  	border: solid rgb(76, 157, 38) 1px !important;
}

.mapDiv>div{
	width: 100%;
	height: 100%;
	margin-bottom: 100px !important;
	padding-left: 15px;
}

.mapContainer{
	margin-bottom: 100px !important;
}
