/* Locations.css */

.title {
    font-size:26pt;
    color: rgb(76, 157, 38);
}

.subtitle {
    font-size:10pt;
    margin-bottom: 1em;
}

/* override bootstrap button color */
.buttons {
  background-color: rgb(76, 157, 38);
  display: inline-block;
}

.input{
	display: inline-block;
}

form{
	width: 100%;
}


.mapDiv>div{
	width: 100%;
	height: 100%;
	margin-bottom: 100px !important;
}

.mapContainer{
	margin-bottom: 100px !important;
}