/**
 * Project       - ShaCar
 * Team          - Group 3 Carshare
 * Last Modified - 2018/05/25
 * Authors
 *               - Inga Pflaumer
 *               - Jason Koh
 *               - Matthew Ryan
 */

.container{

}
.title {
    font-size:26pt;
    color: rgb(76, 157, 38);
}

.subtitle {
    font-size:10pt;
    margin-bottom: 1em;
}

/* override bootstrap button color */
.buttons {
  background-color: rgb(76, 157, 38) !important;
  border: solid rgb(76, 157, 38) 1px !important;
  display: inline-block;
  margin-bottom: 1em !important;
  border-radius: 0 !important; 
}

.input{
	display: inline-block;
}

.mapDiv>div{
	width: 100%;
  min-height: 300px;
	height: 100%;
	margin-bottom: 100px !important;
}

.mapContainer{
	margin-bottom: 100px !important;
}

.carContainer{
  max-height: 600px;
  overflow: auto;
}

.addMargin{
  margin-bottom: 1em;
}