/**
 * Project       - ShaCar
 * Team          - Group 3 Carshare
 * Last Modified - 2018/05/25
 * Authors
 *               - Inga Pflaumer
 *               - Tianqi Chen
 *               - Matthew Ryan
 */
.title{
    font-size:26pt;
    color: green;
}

.subtitle{
    margin-top: 0.5em;
    width: 90%;
    background-color: rgb(198, 198, 198);
    text-align: center;
    color: rgb(41, 97, 31);
    font-size: 20px;
    padding-bottom: 0.3em;
    padding-top: 0.5em;
 }
 
.questiontitle{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0.3em;
}

.body{
	  padding: 2em;
    padding-top: 3em;
    background-color: rgb(226, 226, 226);
}

.innerLi{
	margin-left: 3em;
	margin-bottom: 1em;
    font-size: 16px;
    color: rgb(41, 97, 31);
}

.innerLiBold{
    margin-left: 0.3em;
    margin-bottom: 1em;
    font-size: 16px;
    color: rgb(41, 97, 31);
    font-weight: bold;
    text-align: left;
}


.faqItem{
    width: 90%;
    background-color: white;
    text-align: center;
    padding: 1em;
    border:1px solid rgb(198, 198, 198);
    margin-bottom: 1em;
}


.faqItem h3{
    font-size: 18px;
    margin-bottom: 10px;
}

.faqItem div{
    text-align: left;
    font-size: 18px;
}

ol{
    margin-left: 0.5em;
}

li{
    margin-left: 0.5em !important;
}