.bar{
	position: absolute;
  	top: 70px;
	background-color: rgba(255,255,255,0.5);
	width: 100%;
	min-height: 30px;
	text-align: center;
}

.barItem{
	cursor:pointer;
}

.barItem_link{
	text-decoration: none;
	color: black;
}

.labels{
	display: block;
}

.labels input{
	width: 15em;
}

.labelText{
	width: 10em;
	display: inline-block;
}