/**
 * Project       - ShaCar
 * Team          - Group 3 Carshare
 * Last Modified - 2018/05/25
 * Authors
 *               - Paul Crow
 *               - Inga Pflaumer
 *               - Tianqi Chen
 *               - Jason Koh
 */

/* the webpack css processor tries to optimise z-indexes
 * but unfortunatley this breaks production. if it encoutners 
 * a -ve z-index, it discontinues optimising
 */
 .zIndexFixer {
  z-index: -1;
}

.bar{
	position: absolute;
  	top: 70px;
	background-color: rgba(198, 198, 198, 0.8);
	width: 100%;
	min-height: 3em;
	text-align: center;
	z-index: 5;
	padding-top: 0.5em;
}

.h4 {
	font-size: 1rem;
  }

.buttons {
	background-color: rgb(76, 157, 38) !important;
	border: solid rgb(76, 157, 38) 1px !important;
  }
  

.barItem{
	cursor:pointer;
	color: white;
}

.barItem_link{
	text-decoration: none;
	color: white;
}

.labels{
	display: block;
}

.labels input{
	display: inline;	
}

.logincol
{
	text-align: right;
}

.searchbox {
	background-color: red;
}