.bar{
	position: absolute;
  	top: 70px;
	background-color: rgba(204,204,204,0.7);
	width: 100%;
	min-height: 30px;
	text-align: center;
	z-index: 9999;
}

.barItem{
	cursor:pointer;
	color: white;
}

.barItem_link{
	text-decoration: none;
	color: white;
}

.labels{
	display: block;
}

.labels input{
	width: 10em;
	border:1px solid black;
}

.labelText{
	width: 10em;
	display: inline-block;
}