.c5{
    color:#000000;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Lato";
    font-style:normal
}
.c4{
    color:#000000;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:26pt;
    font-family:"Lato";
    font-style:normal
}
.c0{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Lato";
    font-style:normal
}
.c1{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.1500000000000001;
    orphans:2;
    widows:2;
    text-align:left
}
.c9{
    padding-top:24pt;
    padding-bottom:3pt;
    line-height:1.15;
    page-break-after:avoid;
    text-align:left
}
.c7{
    background-color:#ffffff;
    max-width:425.3pt;
    padding:28.3pt 85pt 28.3pt 85pt
}
.c6{
    font-weight:700
}
.c8{
    margin-right:0.1pt
}
.c3{
    height:11pt
}
.c2{
    font-size:9pt
}
.title{
    padding-top:0pt;
    color:#000000;
    font-size:26pt;
    padding-bottom:3pt;
    font-family:"Lato";
    line-height:1.1500000000000001;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}