/**
 * Project       - ShaCar
 * Team          - Group 3 Carshare
 * Last Modified - 2018/05/25
 * Authors
 *               - Paul Crow
 *               - Inga Pflaumer
 *               - Tianqi Chen
 *               - Matthew Ryan
 */
.body {
  padding: 2em;
  background-color: rgb(226, 226, 226);
}


.form {
  padding: none !important;
}


.regNote{
visibility: visible;
	font-size:20pt;
	color: green;
}



